header.header
  .header-container
    .col-12.row.align-items-center
      .col-12.col-md-4
        a.no-a.row.align-items-center.justify-content-center(href="/")
          .col-4
            img.logo-img(src="/img/preview-128.png", alt="")
          .col-4
            span Cinema
      nav.nav.col-12.col-md-6.row
        ul.col-12.row.align-items-center.header-list
          li.col-12.col-md-3.center Cartelera
          li.col-12.col-md-3.center Promociones
          li.col-12.col-md-3.center Socios
          li.col-12.col-md-3.center Dulceria
      .col-12.col-md-2.center.header-login
        i.fa.fa-user-o(aria-hidden="true") 