:root{
  --primary-color: #ffbd59;
  --second-color: #cfcfcf;
  --third-color: #455a8f;
}

*, *:focus{
  outline: none;
}

a, a:hover, i{
  color: inherit;
  font-size: inherit;
  outline: none;
  text-decoration: none;
}

body{
  background-color: #f6f6f6;
}

button:focus, button:active, button:hover, a:active, a:hover, a:focus{
  outline: none;
}

.display-none{
  display: none;
}

.display-block{
  display: block;
}

.header{
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  background-color: #fff;
  z-index: 999;
}

.header-container{
  width: 100%;
  margin: auto;
  max-width: 1070px;
}

.nav-links{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding: 0 10px;
}

.nav-links::before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav-links:hover::before{
  right: 0;
}

.logo-img{
  width: 64px;
}

.no-a{
  color: inherit;
  outline: none;
}

.no-a:hover{
  text-decoration: none;
  color: inherit;
}

.center{
  text-align: center;
  padding: 0;
}

.header-list{
  list-style: none;
  margin-bottom: 0;
}

.header-login{
  font-size: 1.2rem;
}

.footer{
  background-color: #000;
  width: 100%;
  padding: 3rem;
  font-size: 1.3rem;
  text-align: center;
  color: var(--primary-color);
}

.footer-container{
  width: 100%;
  max-width: 680px;
  margin: auto;
}

.content{
  margin: 100px 0;
}

.filter-section, .candies-section{
  width: 70%;
  margin: auto;
}

section{
  margin: 50px 0;
  position: relative;
}

.filter-section{
  padding: 50px;
}

.home-sections{
  position: absolute;
  top: 0;
  z-index: -1;
  font-size: 5rem;
  color: var(--primary-color);
}

.search-selects{
  display: flex;
  box-shadow: 0px 0px 10px -6px black;
  background-color: #fff;
}

.search-selects-container{
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.search-selects-search{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-button-inactive{
  border-radius: 999px;
  padding: 10px 20px;
  border-style: none;
  background-color: grey;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.filter-button-active{
  border-radius: 999px;
  padding: 10px 20px;
  border-style: none;
  background-color: #ffbd59;;
  outline: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.select-container{
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px;
  min-height: 100px;
  border-left: 1px solid #d4d4d4;
}

.select-title{
  font-weight: bold;
  font-size: 1.3rem;
}

.select-container i{
  position: absolute;
  right: 15px;
}

.component-select{
  width: 100%;
  height: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-style: none;
  top: 0;
  left: 0;
  color: transparent;
  position: absolute;
}

.promociones{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  padding: 80px 50px;
}

.promocion{
  padding: 10px 20px;
  box-shadow: 0px 0px 12px -6px black;
  word-spacing: 0.5px;
  letter-spacing: 0.2px;
  background-color: white;
}

.promocion-img img{
  display: block;
  margin: 0 auto 10px;
  max-width: 100%;
  max-height: 100%;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.promocion-title{
  color: #f6bd65;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 2px;
  margin: 5px 0; 
}

.promocion-footer{
  margin: 10px 0;
}

.movies-section{
  width: 100%;
  padding: 80px 0;
}

.btn-comprar{
  border-style: none;
  color: black;
  background-color: #f6bd65;
  border-radius: 999px;
  padding: 5px 15px;
  cursor: pointer;
}

#carousel-movies{
  min-height: 700px;
}

.carousel-inner, .carousel-item, .movie-slider{
  height: 100%;
}

.carousel-indicators{
  bottom: 8%;
}

.carousel-control-prev, .carousel-control-next{
  width: 10%;
  font-size: 3rem;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
  font-size: 3rem;
}

.carousel-indicators li{
  background-color: #fff;
}

.carousel-indicators .active{
  background-color: rgb(104, 104, 104);
}
.movie-slider{
  position: relative;
}
.movie-slider-img{
  max-width: 100%;
}

.movie-slider-body{
  position: absolute;
  top: 30%;
  color: white;
  width: 100%;
  left: 10%;
  font-size: 1.5em;
  font-weight: bold;
}

.movie-slider-title{
  width: 20%;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
}

.movie-slider-info{
  width: 60%;
  padding: 2em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-slider-footer{
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.movies-cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 10px;
}

.movie-card{
  box-shadow: 0 0px 10px 5px rgba(0,0,0,.15);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 458px;
}

.movie-card-img{
  min-height: 83%;
}
.movie-card-img > img{
  max-width: 100%;
}

.movie-card-img-no-visible{
  content: "\e007";
}

.movie-card-description{
  padding: 10px;
}

.movie-card-description-title{
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: bold;
}

.movie-card-actions{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.movie-card-actions-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.movie-card:hover .movie-card-actions-container{
  visibility: visible;
  opacity: 1;
}

.movie{
  margin: 120px 0;
  padding: 50px 0;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px var(--primary-color);
}

.movie-header{
  text-align: center;
  color: var(--primary-color);
  margin: 0 0 50px;
}

.movie-header h2{
  font-size: 3em;
  font-weight: bold;
}

.movie-body{
  display: flex;
}

.movie-left-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.movie-left-img img{
  max-width: 80%;
}

.movie-right{
  padding: 2em;
  border-left: 0.15em solid var(--second-color);
  font-size: 1.em;
}

.movie-right > div > b{
  font-size: 1.3em;
}

.movie-sinopsis > center{
  font-size: 1.8em;
  font-weight: bold;
}

.movie-right p, .movie-right ul {
  padding: 0.8em;
}

.movie-right ul{
  list-style: none;
}

.movie-right li{
  display: inline-block;
  border: 0.2em solid var(--primary-color);
  margin: 0 0.5em;
  padding: 0.2em;
  font-weight: bold;
  background-color: #fff;
}

.movie-detail li{
  border: none;
  background-color: none;
}

.movie-sinopsis > p{
  padding: 1em;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
}

.movie-search-container{
  width: 90%;
  margin: auto;
}


.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 0.5rem;

  color: var(--third-color);
  background: var(--primary-color);

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.index-10{
  z-index: 10;
}

.user-lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  text-transform: uppercase;
  text-align: center;

  padding: 0.5rem;

  cursor: pointer;

  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::after, .user-lbl-toggle::after {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-left: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::after, .toggle:checked + .user-lbl-toggle::after {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  display: none;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
  display: block;
}

.toggle:checked + .user-lbl-toggle + .collapsible-content {
  min-height: 50px;
  display: block;
  position: fixed;
  overflow: visible;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content .user-content-inner {
  background-color: #fff;
  padding: .5rem 1rem;
}

.content-inner ul{
  list-style: none;
  margin: 0;
  padding: 10px;
}

.content-inner ul label{
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.movie-search-filters{
  margin: 50px 0;
}

.login{
  width: 32%;
  background-color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

.login-header{
  margin: 30px 0;
}

.login-header-icon{
  display: block;
  font-size: 5em;
}

.login-body{
  width: 75%;
}

.login-body form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-body form div{
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login-body form input[type='submit']{
  margin: 30px 0 10px;
}

.register{
  width: 50%;
  background-color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}

@media (min-width: 577px){
  .register{
    width: 400px;
    padding: 0;
  }
}

@media (min-width: 768px){
  .register{
    width: 500px;
    padding: 15px 10px;
  }
}

@media (min-width: 1200px){
  .register{
    width: 550px;
    padding: 20px 15px;
  }
}


.register-header{
  margin: 30px 0;
}

.register-header-icon{
  display: block;
  font-size: 5em;
}

.register-body{
  width: 80%;
}

.register-body form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register-body form div{
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.register-body form input[type='submit']{
  margin: 30px 0 10px;
}

.admin-options-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.admin-option{
  box-shadow: 0px 0px 15px -5px black;
  width: 70%;
  margin: 10px auto;
  max-width: 300px;
  background-color: var(--primary-color);
  padding: 2rem 1rem;
}

.admin-option:hover{
  padding: 2rem 1rem 1rem;
}

.admin-option:hover .admin-option-icon{
  font-size: 6rem;
}

.admin-option-icon{
  color: var(--third-color);
  display: flex;
  font-size: 5rem;
}

.admin-option-icon i{
  margin: auto;
}

.admin-option-name{
  margin: 1rem;
  text-align: center;
}

.admin-container{
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-gap: 2rem;
}

#upload_widget_opener{
  text-align: center;
  display: block;
  margin: 10px auto;
  width: 30%;
  min-width: 120px;
  background-color: var(--primary-color);
  padding: 0.2rem;
  border-radius: 10px;
  cursor: pointer;
}

.mi-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1050;
}

.mi-modal-container{
  width: 500px;
  background-color: #fff;
  padding: 20px 10px;
  position: relative;
  padding: 20px 10px;
  min-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mi-modal-header{
  display: flex;
  justify-content: end;
}

.mi-modal-body{
  text-align: center;
}

.mi-modal-footer{
  display: flex;
  justify-content: center;
}