.header{
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
}

.header-container{
  width: 100%;
  margin: auto;
  max-width: 1070px;
}

.logo-img{
  width: 64px;
}

.no-a{
  color: inherit;
  outline: none;
}

.no-a:hover{
  text-decoration: none;
  color: inherit;
}

.center{
  text-align: center;
  padding: 0;
}

.header-list{
  list-style: none;
  margin-bottom: 0;
}

.header-login{
  font-size: 1.2rem;
}

.footer{
  background-color: red;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  &-container{
    width: 100%;
    max-width: 680px;
    margin: auto;
  }
}

.content{
  margin: 100px;
}